[submodule "love-platformer/libs/hump"]
	path = love-platformer/libs/hump
	url = https://github.com/vrld/hump.git
[submodule "love2d-scratchpad/libs/hump"]
	path = love2d-scratchpad/libs/hump
	url = https://github.com/vrld/hump.git
[submodule "love2d-scratchpad/libs/bump"]
	path = love2d-scratchpad/libs/bump
	url = https://github.com/kikito/bump.lua.git
[submodule "love-platformer/libs/sti"]
	path = love-platformer/libs/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
